<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
      <input type="text" placeholder="Search city" name="city" >
    </form>
</div>


<div class="container" *ngIf="weatherData">
  <div class="upper-data">
<img src="../assets/hot.jpg" alt="thermometer-hot-red" *ngIf="weatherData.main.temp > 60">
<img src="../assets/cold.jpg" alt="thermometer-cold-blue" *ngIf="weatherData.main.temp < 60">

<div class="weather-data">
    <div class="location">{{ weatherData.name }}</div>
    <!-- display temp, use pipe to only display whole number -->
    <div class="temperature">{{ weatherData.main.temp | number: '1.0-0' }}°F</div>

    </div>
  </div>


  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/min.png" alt="thermometer with snowflake next to it">
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_min | number: '1.0-0' }}°F
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/max.png" alt="thermometer with sun next to it">
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.temp_max | number: '1.0-0' }}°F
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="water drop with percent sign">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{weatherData.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="thermometer with sun next to it">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          {{weatherData.wind.speed | number: '1.0-0' }} mph
        </div>
      </div>

    </div>

  </div>
</div>

<router-outlet></router-outlet>
